<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" android:versionCode="1" android:versionName="1.0" package="com.companyname.xamarin.forms.v5.sample">
    <uses-sdk android:minSdkVersion="21" android:targetSdkVersion="30" />
    <application android:label="Xamarin.Forms.v5.Sample.Android" android:theme="@style/MainTheme">
		<meta-data android:name="com.google.android.geo.API_KEY" android:value="" />
		<uses-library android:name="org.apache.http.legacy" android:required="false" />
	</application>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
</manifest>
